<div ng-include="'components/navbar/navbar.html'"></div>

<style>
  .list-items > div.alert {
    margin-top: 50px;
    text-align: center;
  }
  .list-name {
    font-weight: bold;
    font-size: 2.2em;
    text-align: center;
    text-transform: uppercase;
  }
  .list-name:hover {
    color: #ff8c00;
  }
  .open > .dropdown-menu {
    left: 20vw;
  }
  .list-name > span.glyphicon-remove-circle {
    top: 4px;
    right: -10px;
  }
  span.glyphicon-remove-circle:hover {
    color: red;
  }
  .not-selected {
    color: #aaa;
    text-transform: lowercase;
    font-size: 1.5em;
    font-weight: normal;
  }
  .list-editor {
    position: relative;
    padding-right: 40px;
  }
  .list-editor > input {
    border: 0;
    -moz-appearance: none;
    -ms-progress-appearance: none;
    -webkit-appearance: none;
    width: 100%;
    margin-right: 20px;
  }
  .list-editor > input:focus {
    outline: none;
  }
  .list-editor > span.glyphicon-plus {
    font-size: 2em;
    position: absolute;
    right: 8px;
    top: 8px;
  }
  .list-editor > span.glyphicon-plus:hover {
    color: #008000;
  }
</style>

<div class="container list-container">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 things-container">
      <div class="list-name aslink" ng-click="toggleDropdown($event)" ng-class="{'not-selected':!currentList}">{{currentList.name ? currentList.name : 'scegli una lista'}}
        <span class="glyphicon glyphicon-remove-circle" ng-show="editor_opened && currentList" ng-click="removeList()"></span>
      </div>
      <div class="input-group">
        <div class="input-group-btn" dropdown is-open="status.isopen">
          <ul class="dropdown-menu" role="menu" ng-show="status.isopen">
            <li ng-repeat="list in lists | orderBy:'name'"><a href="" ng-click="setList(list)">{{list.name}}</a></li>
            <li class="divider" ng-show="lists.length"></li>
            <li><a href="" ng-click="newList()">Nuova Lista</a></li>
          </ul>
        </div>
      </div>
      <div ng-show="currentList && currentList.state.length" class="list-items">
        <list-item ng-show="editor_opened" ng-repeat="item in currentList.state | orderBy:'desc'" data-ng-model="item" deletable="editor_opened" index="$index+1"></list-item>
        <list-item ng-hide="editor_opened" ng-repeat="item in filtered = (currentList.state | filter:{selected:true} | orderBy:'desc')" data-ng-model="item" deletable="editor_opened" index="$index+1"></list-item>
        <div class="alert alert-success" ng-show="!editor_opened && !filtered.length && currentList.state.length">Lista Copletata!</div>
      </div>
      <div class="list-editor" ng-show="editor_opened && currentList">
        <input type="text" id="list-editor-input" ng-model="new_item.desc" ng-keyup="insertItem($event)">
        <span class="glyphicon glyphicon-plus aslink" ng-show="editor_opened && currentList" ng-click="addListItem()"></span>
      </div>
    </div>
    <!--<br>-->
    <!--<pre>Lista: {{currentList}}</pre>-->
  </div>
</div>



