<div class="due-item list-group-item" data-ng-class="class" ng-style="getStyle()">
  <div class="due-item-content clearfix">
    <strong>{{thing.name}}</strong>
    <div class="thing-infos">{{thing.info}}</div>
    <button type="button" class="close" data-ng-click="deleteThing()">&times;</button>
    <button ng-show="thing.state.length" type="button" class="close down" data-ng-click="toggleThing()"><span class="glyphicon" ng-class="{'glyphicon-chevron-down':!details, 'glyphicon-chevron-up':details}"></span></button>
    <div class="due-item-row">
      <div class="thing thing-date">
        <strong>{{getDateStr()}}</strong>
      </div>
      <div class="thing thing-value">
        <div data-ng-hide="isPaid()">
          € {{getToPaidValue()}}
          <div ng-show="getPaidValue()>0" class="thing-value-paid">
            pagati: € <strong>{{getPaidValue()}}</strong>
          </div>
        </div>
        <div data-ng-show="isPaid()">€ {{getPaidValue()}}</div>
      </div>
      <button class="btn btn-success thing-action" data-ng-click="pay()" data-ng-hide="isPaid()">Pagato</button>
    </div>
  </div>
  <div class="thing-states-container" ng-show="details">
    <div class="list-group-item thing-state" ng-repeat="state in thing.state">
      <button type="button" class="close" data-ng-click="deleteState(state)">&times;</button>
      <div class="thing-state-date"><strong>{{getStateDateStr(state)}}</strong></div>
      <div class="thing-state-type">{{state.type}}</div>
      <div class="thing-state-value">€ {{state.value}}</div>
    </div>
  </div>
</div>
<div class="thing-todue" data-ng-hide="isPaid()" data-ng-class="{over:isOverPaid()}" title="Giorni mancanti alla scadenza.">
  {{getDaysToDue()}}
</div>

