.thing-success {
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.thing-light-success {
  color: black;
  background-color: lightgreen;
  border-color: darkseagreen;
}
.thing-warning {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.thing-info {
  background-color: #428bca;
  border-color: #357ebd;
}
.thing-danger {
  background-color: #d9534f;
  border-color: #d43f3a;
}

.thing-todue {
  float: right;
  color: #ffffff;
  background-color: #428bca;
  border-radius: 20px;
  display: inline-flex;
  padding: 5px;
  margin-right: -50px;
  margin-top: -50px;
}
