<div ng-include="'components/navbar/navbar.html'"></div>

<header class="due-header">
  <div class="item-editor container" ng-show="editor_opened">
    <due-editor ng-model="selectedThing" eopened="editor_opened" data-ng-show="editor_opened"></due-editor>
  </div>
</header>

<div class="container" ng-style="content_style" infinite-scroll="loadMore(false)" infinite-scroll-up="loadMore(true)">




  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 things-container">




      <div class="load-more" ng-click="loadMore(true)">...</div>
      <due-item data-ng-repeat="thing in things | oldThings | filter:searchtext | orderBy:'due_date'" data-ng-click="selectThing(thing)" data-ng-model="thing" active="selectedThing._id==thing._id"></due-item>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="thing-today">{{getToday()}}</div>
      <div class="thing-today-bg"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 things-container">
      <due-item data-ng-repeat="thing in things | futureThings | filter:searchtext | orderBy:'due_date'" data-ng-click="selectThing(thing)" data-ng-model="thing" active="selectedThing._id==thing._id"></due-item>
      <div class="load-more" ng-click="loadMore(false)">...</div>
    </div>
  </div>
</div>
