<div ng-include="'components/navbar/navbar.html'"></div>

<header class="due-header">
  <div class="item-editor container">
    <due-editor ng-model="selectedThing" eopened="editor_opened"></due-editor>
  </div>
</header>

<div class="container" ng-style="content_style" infinite-scroll="loadMore(false)" infinite-scroll-up="loadMore(true)">
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 things-container">
      <div class="list-group" >
        <due-item data-ng-repeat="thing in things | oldThings | filter:searchtext | orderBy:'due_date'" data-ng-click="selectThing(thing)" data-ng-model="thing" active="selectedThing._id==thing._id"></due-item>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="thing-today">{{getToday()}}</div>
      <div class="thing-today-bg"></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-2"></div>
    <div class="col-sm-8 things-container">
        <due-item data-ng-repeat="thing in things | futureThings | filter:searchtext | orderBy:'due_date'" data-ng-click="selectThing(thing)" data-ng-model="thing" active="selectedThing._id==thing._id"></due-item>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
      <p>Little Poor v{{getVersion()}} | <a href="https://twitter.com/@GnaGniGno">NewT</a></p>
  </div>
</footer>
