@import '../components/due-editor/due-editor.less';
@import '../components/due-item/due-item.less';

.thing-form {
  margin: 20px 0;
}

#banner {
  border-bottom: none;
  margin-top: -20px;
}

#banner h1 {
  font-size: 60px;
  line-height: 1;
  letter-spacing: -1px;
}

.hero-unit {
  position: relative;
  padding: 30px 15px;
  color: #F5F5F5;
  text-align: center;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  background: #4393B9;
}

.footer {
  text-align: center;
  margin-top: 20px;
  border-top: 1px solid #E5E5E5;
}
.footer p {
  margin: 10px 0;
  font-size: 0.8em;
}

.container .jumbotron-pig {
  border-radius: 50px;
}

.jumbotron-pig {
  margin-top: 100px;
  border: black 4px solid;
  background-color: white;
  text-align: center;
  color: #ffffff;
}

.jumbotron-pig img {
  margin-bottom: 40px;
  max-width: 250px;
}
.jumbotron-pig > span {
  font-size: 30px;
  color: #000000;
}

.jumbotron-pig .help-block {
  font-size: 14px;
//  color: wheat;
}

.inline-imputs {
  display: inline-flex;
}

.inline-imputs > label {
  margin-right: 40px;
  padding-top: 6px;
}

.textarea-vertical {
  resize: vertical;
}

.inline-imputs .input-group {
  margin-right: 2px;
}

.item-editor {
  padding: 20px;
  overflow: hidden;
}

.item-editor > span {
  float: right;
  cursor: pointer;
}
.due-header {
  margin-top: 50px;
  color: @due-header-color;
  background-color: @due-header-backcolor;
  position: fixed;
  width: 100%;
  z-index: 10;
  display: none;
}
.due-header:hover {
  color: @due-header-hovercolor;
}

.thing-today {
  padding-top: 20px;
  text-align: center;
  margin: 0 0 20px 0;
  font-size: xx-large;
}
.thing-today-bg {
  background-image: url('../assets/images/overlay.png');
  position: absolute;
  width: 100%;
  height: 45px;
  top: 20px;
  left: 0;
}


.list-group-item {
  overflow: hidden;
  cursor: pointer;
}


.over {
  background-color: #d9534f;
}

.things-container {
  padding-right: 45px;
}


.load-more {
  text-align: center;
  cursor: pointer;
  font-size: 32px;
//  max-height: 30px;
  margin-top: -10px;
  font-family: monospace;
}
.load-more:hover {
  color:#ff8c00;
}
