<style scoped>
  .thing-item {
    position: relative;
    border-radius: 8px;
    padding: 10px 4px 4px 4px;
    border: 1px transparent solid;
    cursor: pointer;
  }
  .thing-item:hover {
    background-color: #333;
    border-color: #aaa;
    color: #ff8c00;
  }
  .thing-item-title {
    padding: 0 0 8px 8px;
  }
</style>
<div class="thing-item" data-ng-class="class" ng-style="getStyle()">
  <div class="due-item-content clearfix" ng-click="toggle()">
    <div class="thing-item-title"><strong>{{ticket.name}}</strong></div>
    <pre ng-show="details">{{ticket.info}}</pre>
    <button type="button" class="close" data-ng-click="deleteTicket()">&times;</button>
  </div>
</div>
